html,
body {
  background-color: #fff;
  margin: 0px;
  height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
    background-color: #fff;
}